{{define "title"}}Service stopping{{end}}
{{define "summary"}}The service is stopping: <b>{{reason .Fields.reason}}</b>{{end}}
{{define "fields"}}
Reason: <code>{{reason .Fields.reason}}</code>
{{end}}
