{{define "title"}}Unknown command{{end}}
{{define "summary"}}Unknown command <b>{{.Fields.command}}</b> from {{.Fields.from}}{{end}}
{{define "fields"}}
From: <code>{{.Fields.from}}</code>
Command: <code>{{.Fields.command}}</code>
{{end}}
